* {
    color: rgb(241, 244, 246);
    font-weight: 500;
    transition-duration: 0.3s;
}

.padd {
    padding-top: 3%;
}

#headshot {
    width: 90%;
    margin-top: 10%;

}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000041;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #013d7d62;
    border-radius: 2%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #013d7daf;
}

body {
    background-color: #00000036;
    overflow: none;
    
}


#center {
    margin-top: 8%
}

a i {
    color: rgb(234, 238, 241);
}

iframe {
    border: 0px;
}

a i:hover {
    color: rgb(255, 255, 255);
}

.align-center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.one-third {
    width: 30%;
}

.big-icon {
    font-size: 30px;
    padding: 10%
}

.block {
    display: block;
}

#mag {
    width: 15px
}

a {
    color: #094f99;
    font-weight: 800;
}

a:hover {
    color: #013d7d;
    text-decoration: none;
    font-weight: 900;
}

@media (min-width:768px) {
    .hide{
        display: none;
    }
    .hide2{
        display: none;
    }


}


@media (max-width:768px) {
    .centerr {
        text-align: center;
    }
    .hide2{
        display: none;
    }
    .padd{
        width:100%;
    }
    .one-third {
        width: 10%;
    }
    .big-icon{
        padding:7.5%;
    }
    #flex{
        margin-left: 1%;
        margin-top:3%;
    }

}