
body{
    background-color: #212331;
}
iframe{
    width:90%;
    height:50vh;
    border: none;
    transition-duration: 0.3s;
    backdrop-filter: blur(10px);
}

.col{
    /* height:100vh; */
    height: 100%;
    margin-top: 40%;
    
    

}
.cent{
    margin-top: 20%;
    
}
#preloader {
      display: none;
      width: 0;
      height: 0;
      border: 0;
}


 @media screen and (min-height:935px){
    iframe{
        width:90%;
        height:45vh;
        max-height: 500px;
        overflow:hidden;
        
    }
} 
@media screen and (max-width:2000px){
    iframe{
        width:90%;
        max-height: 90vh;
        overflow: hidden;
    }
}
@media screen and (max-width:1200px){
    .container{
        margin:0px;
        max-width: 99999px;
    }
    
}
@media screen and (max-width:1022px){
    .container{
        margin:0px;
        max-width: 99999px;
    }
    .padd-0{
        padding:0%;
    }
    iframe{
        width:97%;
        
        
    }
}
 
@media screen and (max-height:935px){
    iframe{
        width:90%;
        height:minmax(52vh, 500px);
        overflow:none;
        
    }
    .cent{
        margin-top: 15%;
    }
}
 @media screen and (max-height:834px){
     iframe{
        width:90%;
        height:59vh;
        
    }
    .cent{
        margin-top: 13%;
    }
} 
@media screen and (max-height:745px){
    iframe{
       width:90%;
       /* height:90vh; */
       
   }
   .cent{
       margin-top: 10%;
   }
} 
@media screen and (max-height:717px){
    iframe{
        
        height:65vh;
        
    }
}
@media screen and (max-height:623px){
    iframe{
       width:90%;
       height:70vh;
       margin-top: 5vh;
       
   }
   .cent{
       margin-top: 7%;
       height: 90vh;
   }
   .container{
       height:90vh;
   }
} 
@media screen and (max-height:573px){
    iframe{
        margin-top: 2vh;
       width:90%;
       height:75vh;
       
   }
   .cent{
       margin-top: 6%;
   }
} 
@media screen and (max-height:529px){
    iframe{
       width:90%;
       height:89vh;
       
   }
   .cent{
       margin-top: 4%;
   }
} 
@media screen and (max-height:465px){
    iframe{
       width:90%;
       height:94vh;
       
   }
   .cent{
       margin-top: 3%;
   }
} 
@media screen and (max-height:465px){
    iframe{
       width:90%;
       height:100vh;
       
   }
   .cent{
       margin-top: 0%;
   }
} 
@media screen and (max-width:851px){
    
    .container{
        margin:0px;
        max-width: 99999px;
    }
    iframe{
        height:85vh;
        
    }
} 
@media screen and (max-width:552px){
    
    .container{
        margin:0px;
        max-width: 99999px;
    }
    iframe{
        height:90vh;
        max-height: initial;
        
    }
} 