body{
    background-color: #212331;
}
iframe{
    width:90%;
    height:41vh;
    border: none;
}
.col{
    /* height:100vh; */
    height: 100%;
    margin-top: 40%;
}
.cent{
    margin-top: 20%;
}
@media screen and (max-width:1200px){
    .container{
        margin:0px;
        max-width: 99999px;
    }
}
@media screen and (max-width:1022px){
    .container{
        margin:0px;
        max-width: 99999px;
    }
    .padd-0{
        padding:0%;
    }
    iframe{
        width:97%;
        
    }
}
 
@media screen and (max-height:935px){
    iframe{
        width:90%;
        height:49vh;
        
    }
    .cent{
        margin-top: 15%;
    }
}
 @media screen and (max-height:834px){
     iframe{
        width:90%;
        height:57vh;
        
    }
    .cent{
        margin-top: 13%;
    }
} 
@media screen and (max-height:745px){
    iframe{
       width:90%;
       /* height:90vh; */
       
   }
   .cent{
       margin-top: 10%;
   }
} 
@media screen and (max-height:717px){
    iframe{
        
        height:60vh;
        
    }
}
@media screen and (max-height:623px){
    iframe{
       width:90%;
       height:71vh;
       
   }
   .cent{
       margin-top: 7%;
       height: 90vh;
   }
   .container{
       height:90vh;
   }
} 
@media screen and (max-height:573px){
    iframe{
       width:90%;
       height:77vh;
       
   }
   .cent{
       margin-top: 6%;
   }
} 
@media screen and (max-height:529px){
    iframe{
       width:90%;
       height:87vh;
       
   }
   .cent{
       margin-top: 4%;
   }
} 
@media screen and (max-height:465px){
    iframe{
       width:90%;
       height:93vh;
       
   }
   .cent{
       margin-top: 3%;
   }
} 
@media screen and (max-height:465px){
    iframe{
       width:90%;
       height:100vh;
       
   }
   .cent{
       margin-top: 0%;
   }
} 
@media screen and (max-width:851px){
    
    .container{
        margin:0px;
        max-width: 99999px;
    }
    iframe{
        height:81vh;
        
    }
} 
@media screen and (max-width:552px){
    
    .container{
        margin:0px;
        max-width: 99999px;
    }
    iframe{
        height:94vh;
        
    }
} 