
body{
    background-color: #212331;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#load{
    width:90px;
    margin-top: 20%;
}

.col{
    /* height:100vh; 
    height: 100%;*/
    margin-top: 0%;
    
    

}

  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
  }
  .wave {
    width: 10px;
    height: 70px;
    background: #013d7de0;
    margin: 15px;
    animation: wave 1.5s ease-in-out infinite;
    border-radius: 20px;
  }
  @media screen and (max-width:851px){
    .wave {
      width: 6px;
      height: 50px;
      background: #013d7de0;
      margin: 7px;
      animation: wave 1.5s ease-in-out infinite;
      border-radius: 15px;
    }
    
} 
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
