#langg{
    position: absolute;
    top:20px;
    right:20px;
    color:white;
    z-index: 99999999;
}
.active{
    background-color: rgb(46, 46, 180);
    padding:2px 5px ;
    border-radius: 10%;
    cursor:pointer;
    transition: 0.3s;
    color:white;
    text-decoration: none;
}
.active:hover{
    background-color: rgb(37, 37, 155);
    text-decoration: none;
    color:white;
}
.pasive{
    padding:2px 5px ;
    border-radius: 10%;
    cursor:pointer;
    transition: 0.3s;
    text-decoration: none;
    color:white;
}
.pasive:hover{
    background-color: #013d7d6c;
    text-decoration: none;
    color:white;
}
